# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Task0/Source Java/target/
/Task1/Java/Pisaflix2/target/
/Task1/Java/PisaFlix/target/
/Task1/Java/PisaFlixG/PisaFlixG/target/
/Task1/Java/PisaFlixG/target/
/Task1/KeyValue/Java/PisaFlix/KeyValueDB

.DS_Store
/Scraping/Scraping/target/